{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col my-auto">
                <h1 class="logo-font text-black">
                    What is Animosity Campaigns
                </h1>
                <div id="home-intro" class="prose">
                    <p>
                        Featuring team strategy and collaborative storytelling, Animosity Campaigns invites you to forge
                        your narrative alongside players from around the world in the internet's best WARHAMMER Age of
                        Sigmar global narrative events! From 2004 to 2014, Animosity Campaigns was the internet's
                        premier Narrative Play community for WARHAMMER Fantasy Battles. Now on our fourth major global
                        narrative event, Team Animosity has been working to bring this incredible experience into the
                        Age of Sigmar since 2019.
                    </p>
                    <ul>
                        <li class="text-uppercase"><strong>Explore the</strong> <a href="#">Setting</a></li>
                    </ul>
                    <p>Within our website you will discover an entire theatre of war, complete with maps, histories, and
                        dramatis personae. Because each campaign is built atop the previous one, our player's stories
                        literally shape the fate of our setting.</p>
                    <ul>
                        <li class="text-uppercase"><strong>Fight for a</strong> <a href="#">Coalition</a></li>
                    </ul>
                    <p>After you join our Discord, you'll be able to register to fight for a Coalition starting June
                        22nd. Rallying around an NPC we call a Figurehead, Coalitions are player teams in conflict with
                        one another. Talk tactics with your team, write group narratives together, and engage other
                        Coalitions in epic battles or cunning diplomacy.</p>
                    <ul>
                        <li class="text-uppercase"><strong>Shape the</strong> <a href="#">Unfolding Narrative</a></li>
                    </ul>
                    <p>Each turn, players submit Reports. These might be a game you've played, a model you've painted, a
                        story you've written, an illustration, a diorama, or almost anything else you can imagine. These
                        reports are placed toward one of three Narrative Paths unique to your Coalition; the more
                        reports submitted to each Narrative Path, the greater chance it will succeed! In real time, Team
                        Animosity gather up your Reports and forge them into our weekly Unfolding Narrative, creating a
                        truly open-ended campaign experience where YOU decide the outcome.</p>
                </div>
                <a href="#" id="discord-link" target="_blank"><img src="#" id="discord-banner" alt="Join our Discord community!"></a>
            </div>
        </div>
    </div>
{% endblock %}