{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    What is Animosity Campaigns
                </h1>
                <div>
                    <p>
                        Featuring team strategy and collaborative storytelling, Animosity Campaigns invites you to forge
                        your narrative alongside players from around the world in the internet's best WARHAMMER Age of
                        Sigmar global narrative events! From 2004 to 2014, Animosity Campaigns was the internet's
                        premier Narrative Play community for WARHAMMER Fantasy Battles. Now on our fourth major global
                        narrative event, Team Animosity has been working to bring this incredible experience into the
                        Age of Sigmar since 2019.
                    </p>
                    <ul>
                        <li class="text-uppercase"><strong>Explore the</strong><a href="#">Setting</a></li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}